.create-container{
     width: 100vw;
     height: 85vh;
}

.vinyl-container,.rotative-container{
     position: static;
}

.vinyl-container {
     width: 100%;
     animation: none;
     transform: rotate(0deg);
}
.disk-text{
     font-size: 100%;
     text-align: center;
     font-family: 'Abril Fatface';

}

h1{
     text-align: center;
     font-family: 'Abril Fatface';
     margin:8px;
}