.create-container{
     width: 100vw;
     height: 85vh;
}

.vinyl-container,.rotative-container{
     position: static;
}

.vinyl-container {
     width: 100%;
     animation: none;
     transform: rotate(0deg);
}
.disk-text{
     font-size: 100%;
     text-align: center;
     font-family: 'Abril Fatface';

}

h1{
     text-align: center;
     font-family: 'Pacifico', cursive;
     margin:8px;
}

h2{
     text-align: center;
     font-family: 'Pacifico', cursive;
     margin-top:10px;
}

/* Customizing all .btn-primary buttons */
.btn-primary {
     background-color: #715da1; /* Custom background color */
     border-color: #403164; /* Custom border color */
     border-width: 3px;
 }
 
 .btn-primary:hover {
     background-color: #403164; /* Hover color */
     border-color: #403164;
     border-width: 3px;
 }
 
 body {
     background-color: #86878f; /* Change this to your desired color */
 }

 .video-background {
     width: 100vw; /* Set the width to 100% of the viewport width */
     height: 80vh; /* You can adjust this height as needed */
     position: relative; /* Allows positioning of overlay elements */
     left: 50%; /* Position from the left */
     transform: translateX(-50%); /* Center the video */
     margin-bottom: 5%;
     z-index: 0;
 }
 
 .header {
     padding: 0; /* Remove any padding */
     margin: 0; /* Remove any margin */
     z-index: 1;
 }

 .header-content {
     position: relative;
     z-index: 1;
 }

.color-buttons button,
.finish-buttons button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
    color:white;
    cursor: pointer;
}

.finish-buttons button.active {
    background-color: #4a5568; /* Gray for default active Plain button */
}

.finish-buttons button:not(.active) {
    background-color: #a0aec0; /* Lighter gray for inactive */
}
